body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#f6f6f6, #f1f1f1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sketch-cards-container {
  width: 80%;
  margin: auto;
}

.sketch-card-container {
  width: 400px;
  background: #f8f8f8;
  box-shadow: 2px 2px 5px #888888;
  border-bottom: 1px solid #aaa;
  margin: 4px auto;
  padding: 5px;
  display: inline-flex;
}

.sketch-info {
  padding: 50px;
  height: 100px;
  width: 100px;
  color: #363636;
  font-family: monospace;
}

.canvas {
  background-color: white;
  width: 600px;
  height: 400px;
}
